.container{
     position: relative;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('../images/kitchen.jpg');
    color:rgb(203, 190, 172);
}
.app__aboutus-content_about {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}

.app__aboutus-content_knife {
    margin: 2rem 4rem;

}

.app__aboutus-content_knife img {
    height: 710px;
}

.app__aboutus-content_history {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.app__aboutus-content_history p,
.app__aboutus-content_about p {
    margin: 2rem 0;
    color: white;
    font-size: 15px;
    
}




.custom__button{
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
    color:rgb(11, 11, 19);
    border: solid 4px rgba(62, 39, 31, 0.512);
    transition: 0.2s ease-out;
    margin-bottom: 10px;
    border-radius: 6px;
    
    
}
.custom__button a {
    text-decoration: none;
    color: rgb(146, 32, 32);
}
.custom__button:hover{
    background: rgb(191, 184, 182);
    color: blanchedalmond;
    cursor: pointer;
    transform: scale(1.05);
}





@media screen and (max-width: 900px) {
    .app__aboutus-content {
        flex-direction: column;
    }



}

@media screen and (max-width: 650px) {

    .app__aboutus-overlay img {
        width: 300px;
        z-index: 0;
    }


    .app__aboutus-content_about {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
    }

}






