.cakeContainer{
    min-height: 100vh;
    padding: 5rem calc(100vh - 1300px) / 2;
    background-color: rgb(223, 230, 191);
    color: rgb(24, 23, 6);
}
.cakeContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.cakeCard{
    margin: 0 2rem;
    line-height: 1;
    width: 300px;
}
.cakeImg{
    height: 200px;
    box-shadow: 5px 3px #b2940e;
    width: auto;
    /* margin-bottom: 2rem; */
}
.cakeImg:hover{
    box-shadow: 5px 4px #2f7414;
}
.cakeHead{
    font-size: clamp(2rem, 2.5vw, 3rem);
	text-align: center;
	margin-bottom: 5rem;
}
.propTitle{
	font-weight: 500;
	font-size: 1.5rem;
}
.cakeInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}
.cakePrice{
    margin-bottom: 1rem;
    font-size: 1rem;
    margin-top: auto
}
.cakeBtn{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    background: #150a06;
    color: rgb(216, 212, 163);
    transition: 0.2 ease-out;
}
.cakeBtn:hover{
    background: rgb(216, 212, 163);
    color: #150a06;
    transition: 0.2s ease-out;
    cursor: pointer; 
}