.chefContainer{
	min-height: 100vh;
	padding: 4rem calc((100vw - 1300px) / 2);
	background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('../images/kitchen.jpg');
	color: rgb(255, 255, 255);
	
}

.chefImg{
	height: 350px;
	border-bottom: solid 9px #fdc500;
	border-top: solid 3px #fdc500;
    width: 300px;
    object-fit:cover;
	  
}

.chefWrapper{
	display: flex;
	flex-direction: row;
	

}

.name{
	font-weight: 150;
}

@media screen and (max-width: 935px){
	.chefWrapper{
	  flex-direction: column;
	}
  }