
.foodContainer{
    min-height: 100vh;
   
    color: rgb(51, 49, 22); 
}
.foodContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.foodCard{
    min-height: 0;
  min-width: 0;
    margin: 0 2rem;
    line-height: 1;
    width: 300px;
}
.foodImg{
    height: 200px;
    box-shadow: 7px 3px #b2940e;
    width: auto;
    
    
}
.foodImg:hover{
    box-shadow: 7px 3px #63b20e;
    
}
.foodHead{
    font-size: clamp(2rem, 2.5vw, 3rem);
	text-align: center;
	margin-bottom: 5rem;
}
.foodTitle{
	font-weight: 500;
	font-size: 1.5rem;
}
.foodInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}
.foodPrice{
    margin-bottom: 1rem;
    font-size: 1rem;
    margin-top: auto
}
.foodBtn{
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 10px;
    background: #542a1b;
    color: rgb(216, 212, 163);
    transition: 0.2 ease-out;
}
.foodBtn:hover{
    background: rgb(216, 212, 163);
    color: #542a1b;
    transition: 0.2s ease-out;
    cursor: pointer; 
}