.app__footer {
   
    width: 100%;
    position:relative;
    /* z-index: 1; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(237, 233, 181);
    padding-top: 0;
}
.app__footer-links {
    z-index: 50;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5rem;
    padding: 0 1rem;
}

.app__footer-links_contact {
    z-index: 50;

}

.app__footer-links_contact, 
.app__footer-links_logo, 
.app__footer-links_work {
    flex: 1;
    margin: 1rem;
    text-align: center;
}

.app__footer-headtext {
    color: var(--color-white);
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: var(--font-base);
    text-transform: capitalize;
}
.p__opensans{
    font-size: 0.7rem;
}
.app__footer-links_logo img:first-child {
    width: 160px;
    margin-bottom: 0.5rem;
}

/* .app__footer-links_work p:nth-child(2n + 1) {
    margin-bottom: 1rem;
} */

.app__footer-links_icons {
    margin-top: 0.5rem;
 
}

.app__footer-links_icons svg {
    color: rgb(5, 5, 183);
    
    font-size: 20px;
    cursor: pointer;
    margin: 0 0.5rem;
}

.app__footer-links_icons svg:hover {
    color: rgb(49, 3, 3);
}


.footer__copyright {
    z-index: 50;
    padding-top: 1rem;
    text-align: center;
    
}


@media screen and (min-width: 1440px) {
    .app__footer-links {
        max-width: 80%;
    }
}


@media screen and (max-width: 900px) {
    .app__footer-links {
        padding: 0 0rem;
    }

    .app__footer-headtext {
        color: var(--color-white);
        font-size: 1.2rem;
        margin-bottom: 0.75rem;
        font-family: var(--font-base);
        text-transform: capitalize;
    }

    .app__footer-links_logo img:first-child {
        width: 120px;
        margin-bottom: 0.5rem;
    }

}


@media screen and (max-width: 500px) {
    .app__footer-links {
        display: flex;
        flex-direction: column;
    }

    .app__footer-links_contact, 
    .app__footer-links_logo, 
    .app__footer-links_work {
        text-align: center;
        width: 100%;
        
    }

    .app__footer-links_icons svg {
        color: black;
        font-size: 20px;
        cursor: pointer;
        margin: 0 0.5rem;
    }

    .footer__copyright {
        z-index: 50;
        padding-top: 1rem;
        text-align: center;
        width: 100%;
    }

}


@media screen and (max-width: 320px) {
    
}






