.app__header {
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url('../images/Resturant.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* background-repeat: repeat; */
}

.content{
    height: calc(100vh - 80px);
    max-height: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    color: aliceblue;
    
   
}
.contentItems{
    display:flex;
    width:clamp(100%, 650px, 100%);
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-left: 50px;
    margin-top: 100px;
    align-items: flex-start;
    padding: 1rem 3rem;
    width: 700px;
}
.app__header-h1 {
    margin: 1rem 0;
    font-family: var(--font-nase);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 90px;
    font-size: 40px;
}
   

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-family: var(--font-nase);
        color: var(--color-golden);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        line-height: 60px;
        font-size: 50px;
    }
}

@media screen and (max-width:650px) {
    .contentItems{
        width: 100%;
        text-align: center;
    }
   
}

.navHead{
    font-size: clamp(1rem, 3rem, 5rem);
    margin-bottom: 2rem;
    letter-spacing: 3px;
    line-height: 1;

}

p{
    font-size: clamp(1rem, 1.2rem, 1.4rem);
    margin-bottom: 2rem;
    line-height: 1.3;
    font-family: 'Open Sans' sans-serif;
}

.button{
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
    color:rgb(11, 11, 19);
    border: solid 4px rgba(213, 168, 151, 0.512);
    transition: 0.2s ease-out;
    margin-bottom: 10px;
    border-radius: 6px;
    
}
.button:hover{
    background: rgb(174, 126, 113);
    cursor: pointer;
    transform: scale(1.05);
}