.total-nav{
   width: 100%;
   display: flex; 
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-black);
   padding: 1rem 2rem 0.5rem ;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
}

.desktop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}