.total-nav{
   width: 100%;
   display: flex; 
   justify-content: space-between;
   align-items: center;
   background-color: transparent;
   padding: 1rem 2rem 0.5rem ;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   transition: transform 1000ms;
}
/* .total-nav.move{transform: translateY(-2000px)} */

/* .navbar-link{
    color: aliceblue;
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
} */
.desktop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size:larger;
    font-weight: 500;
    position: fixed;
    
}
.navbar-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-links li:hover {
    color: var(--color-grey);
}

.navbar-smallscreen {
    display: none;
}

.navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    transition: 0.5s ease-in-out;
    flex-direction: column;
    z-index: 5;
}

.navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar-smallscreen-links {
    list-style: none;
}

.navbar-smallscreen-links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

@media screen and (max-width: 2000px) {
    .navbar-logo img {
        width: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .navbar-links {
        display: none;
    }


    .navbar-smallscreen {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .total-nav {
        padding: 2rem;
    }


}


