.specialContainer{
    /* background: #fdfdfd; */
      background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('../images/Resturant-2.jpg');
    height: 700px;
    /* max-height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    text-align: center;
    padding: 0 1rem;
  
  }
  
  .specialContent{
      height: calc(100vh - 80px);
      max-height: 50%;
      /* padding: 0rem calc(100vw/2); */
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  
  .specialContainer h2 {
      font-size: clamp(1rem, 3rem, 4rem);
      margin: 1rem 0;
      z-index: 10;
    }
  
    .specialContainer h3 {
      font-size: clamp(1rem, 2vw, 3rem);
      margin: 1rem 0;
    }
  
  .specialContainer p {
      margin-bottom: 1rem;
      width: 45vw;
      font-size: clamp(0.7rem, 1.2rem, 1.3rem);
      /* margin-bottom: 30%; 
      margin-left: 60px;  */
      width: 400px;
      text-align: right
    }
  .textContent {
    /* height: 100px; */
    padding: 10px;
    background: #f76d2850;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
  }
    .specialImage {
      /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('../images/restaurant.jpg'); */
      /* background: url('../images/favourite.jpg'); */
      /* height: 300px; */
      max-width: 500px;
      width: 100%;
      height: auto;
      /* margin-left: 30px; */
      box-shadow: 3px 5px #ffc500;
      background-position: center;
      background-size: cover;
    }
  
    @media screen and (max-width: 935px){
      .specialContent{
        flex-direction: column;
      }
    }
    
  
  .btn{
      font-size: 1rem;
      padding: 1rem 1rem;
      border: none;
    width: 200px;
    align-self: center;
    border-radius: 10px;
    background: #cc5418;
      color: #fff;
      transition: 0.2 ease-out;
  }
  .btn:hover {
    background: #fff;
    color:  #cc5418;
    transition: 0.2s ease-out;
    cursor: pointer;
  }
  @media screen and (max-width: 935px){
    .btn{
      background: rgba(212, 124, 40, 0.682);
     
    }
    .btn:hover{
      background: rgba(246, 243, 240, 0.682);
    }
  }